<!DOCTYPE html>
<html>
  <head>
    <title>Michael's personal page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Michael's Personal Page</h1>
    <p>Welcome to My Personal Page!</p>
    <%- include a %>
    <%- include b %>
  </body>
</html>
